{{ include("header.twig") }}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to a Slim Tutorial</h1>
        <input id="quick-task" style="width:60%; padding:5px;" type="text" placeholder="Add ToDo Item"/>
        <button id="quick-save" class="btn btn-dark">Save</button>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if successMessage is not empty %}
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                {% endif %}
                <h2>Tasks</h2>
                <br>
                <ul class="list-group">
                    {% for todo in todos %}
                    <li class="list-group-item">
                        <span>{{ todo.task }}</span>
                        <span class="float-right">
                           <a href="/view/{{ todo.id }}"><i class="fa fa-eye fa-fw"></i></a>&nbsp;&nbsp;
                            <a href="/edit/{{ todo.id }}"><i class="fa fa-edit fa-fw"></i></a>&nbsp;&nbsp;
                            <a href="javascript:void(0);" data-id="{{ todo.id }}" class="delete-task"><i class="fa fa-trash fa-fw"></i></a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</section>
{{ include("footer.twig") }}
<script>
    $(document).ready(function(){
        $("#quick-save").on("click",function(){
            console.log("Hello World");
            var task = $("#quick-task").val();
            if(task !== undefined && task !==""){
                console.log(task);
                $.post("/quickAdd",{task:task},function(results){
                    window.location = "/";
                });
            }
            return false;
        });
        $(".delete-task").on("click",function(){
            var taskId = $(this).data("id");
            check = confirm("Delete task?");
            if(check){
                $.post('/delete',{taskId:taskId},function(){
                    window.location = "/";
                });
            }
           return false;
        });
    });
</script>